<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>input a stock </title>
    <h1>Historical Prices</h1>
    <p>input the symbol of the stock you are looking for along with the Start Date and End Date for the historical prices you wish to retrieve</p>
  </head>
  <body>

<div class='container'>
<h3>Test</h3>

<form method='POST' action='{{url_for('submitted')}}'>
      {{ form.csrf_token }}
      {{ form.symbol.label}}
      {{ form.symbol}}
      <ul>
      {% for error in form.symbol.errors %}
        <li style='color:red;'>{{error}} </li>
      {% endfor %}
      </ul>
      {{ form.start.label}}
      {{ form.start}}
      {{ form.end.label}}
      {{ form.end}}
      <input type='submit' value='Submit'>
    </form>




  </body>
</html>
